{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
<img src="{% static 'img/company.jpg' %}" style="width: 50%;">
<h1>WELCOME TO GET SOCIAL</h1>
<p>We are passinate about helping our clients get their voice out into the world!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi quasi necessitatibus aliquid accusantium optio
    placeat beatae voluptate magni voluptatibus distinctio, voluptas natus. Iure non magnam vero fugiat sint ipsam
    facilis optio reprehenderit, distinctio modi quos tempore blanditiis nulla voluptates vitae commodi delectus
    voluptate similique excepturi et cupiditate? Inventore hic deserunt id totam suscipit quis similique minima
    accusantium? Labore, iusto. Quo, reiciendis! Ratione eum hic pariatur iusto aliquid atque expedita aut id commodi
    fugiat asperiores ipsum, odit dolore veniam quod temporibus. Voluptates corrupti quis laborum et, laudantium, modi
    expedita maxime labore, omnis repudiandae numquam nobis nam! Omnis esse eligendi odio! Adipisci architecto officia
    facere voluptates ipsam doloremque saepe expedita explicabo ipsum obcaecati, fugit illo! Ut quo earum exercitationem
    dolores expedita molestias harum fugit! Error vel quia quam. Molestiae ducimus ipsum, aliquid voluptate distinctio
    dolore voluptatum voluptates? Voluptatum atque debitis dolore quod eveniet blanditiis maiores veniam incidunt vitae
    in. Incidunt possimus ipsa totam alias praesentium aperiam consectetur architecto quas! Soluta est non fugit,
    similique, facere tempore veniam cum voluptatum recusandae amet mollitia. Sapiente repellendus temporibus delectus
    impedit reprehenderit reiciendis, tempora, illo veritatis eaque exercitationem maiores ipsa earum obcaecati illum,
    qui molestias facilis. Excepturi natus suscipit unde doloremque doloribus sunt dolorum assumenda maxime.</p>
<b>Happy Posting!</b>

{% endblock content %}